!doctype html
html
 head
  title 제목작성
 body
  #wrap
   h1
    a(href="#") 내용
   ul
    li: a(href="#") 이렇게 쓰는게 jade
    li: a(href="#") 이렇게 쓰는게 jade
    li: a(href="#") 이렇게 쓰는게 jade
    li: a(href="#") 이렇게 쓰는게 jade
    li: a(href="#") 이렇게 쓰는게 jade