//footer.scss

#gcassFoot {width:calc(100% - 84px); height:42px; float:left; padding:20px 42px 28px;}
#gcassFoot>h2, #gcassFoot>div{height: 100%; float: left;}
#gcassFoot h2 {
    width: 70px; float: left;
    background-repeat: no-repeat;
    background-image: url("../img/index/foot/foot_logo.png");
    background-position: center center;}
#gcassFoot h2>span{font-size:inherit;}
.sns {width: 110px; margin:0 15px;}
    .sns>ul{width: 100%; height:30px; margin-top:12px;}
    .sns>ul>li {width:calc(100% / 3); height: 100%; float: left;}
    .sns>ul a {width:70%; margin-left:15%; font-size:1.875rem;}
.sns>ul a:hover{text-decoration: none; color:#555;}
.addBox {width: 380px; background-color: #aaf;}
    #gcassFoot .addBox h3 {}
    #gcassFoot address {}
    #gcassFoot p {}
    .family {width: 300px; height: 150px;
    background-color: #ffa; float: right; margin-top:-88px;}
    .family ul {}
    #gcassFoot .family li {}
    #gcassFoot dl {}
    #gcassFoot dt {}
    #gcassFoot dt a {}
    #gcassFoot dd {}
    #gcassFoot dd a {}