//header.scss

#gcassHead {width: 156px; height: 655px; float: left; 
    background-color: #555; padding:55px 52px 0 42px;}
h1{width: 100%; height: 104px;}
h1>a{ background-image: url("../img/index/header/logo.png");
      background-position: center;}
#mainMenu {width:100%; height:455px; margin-top:42px;}
#mainMenu > ul {width:100%; height:100%;}
#mainMenu > ul > li {width:100%; height:38px; margin-bottom:26px;}

#mainMenu>ul>li:last-child{height: 112px; margin-top: 60px;}

#mainMenu>ul>li>a {background-image: url("../img/index/header/nav_mainMenu.png");
    transition:all 0.5s ease-in;}
#mainMenu>ul>li{transition:all 0.3s ease-in;}
#mainMenu>ul>li:hover{transform:scale(1.1) translateX(30px);}
#mainMenu>ul>li>a:hover {background-image: url("../img/index/header/nav_mainMenu_on.png");}
#mainMenu>ul>li:nth-child(1)>a{background-position:0 0;}
#mainMenu>ul>li:nth-child(2)>a{background-position:0 -62px;}
#mainMenu>ul>li:nth-child(3)>a{background-position:0 -124px;}
#mainMenu>ul>li:nth-child(4)>a{background-position:0 -186px;}
#mainMenu>ul>li:nth-child(5)>a{background-position:0 -248px;}
#mainMenu>ul>li:nth-child(6)>a{background-position:0 -344px;}