//header.scss
$img: "../img/index/header/";
#gcassHead {width:156px; height:655px; float:left; 
            background-color:$deepGray; 
            padding:55px 52px 0 42px;
  >h1{width: 100%;height: 104px;
    >a{background-image: url($img+"logo.png");
      background-position:center;}
  }// h1
}// #gcassHead
#mainMenu {width:100%; height:455px; margin-top:42px;
  >ul{width:100%; height:100%;
    >li{width:100%; height:38px; margin-bottom:26px;
        transition:all 0.3s ease-in;
      &:last-child{height: 112px; margin-top: 60px;}
      &:hover{transform:scale(1.1) translateX(30px);}
        >a{transition:all 0.5s ease-in;
          background-image: url($img+"nav_mainMenu.png");
        &:hover{
          background-image: url($img+"nav_mainMenu_on.png");}
        }//a
    }// li
  }// ul
}// #mainMenu
#mainMenu>ul>li{
  &:nth-child(1)>a{background-position:0 0;}
  &:nth-child(2)>a{background-position:0 -62px;}
  &:nth-child(3)>a{background-position:0 -124px;}
  &:nth-child(4)>a{background-position:0 -186px;}
  &:nth-child(5)>a{background-position:0 -248px;}
  &:nth-child(6)>a{background-position:0 -344px;}
}// #mainMenu>ul>li








