//subwrap.scss

body, html{height: 100%;}
#wrap{width: 980px; height: 850px; margin: 0 auto;}

/* background_design */
body{ overflow-x: hidden; position: relative; }
.bgBox{width: 100%; position: absolute; z-index: -100; }
.topLeft{height:30px; top:0; background-color:#888; right:50%;}
.topRight{height:30px; top:0; background-color:#fff30d; left:50%;}
.conLeft{height:710px; top:30px; background-color:#555; right:50%;}
.conRight{height:710px; top:30px; background-color:#adadad; left:50%;}
.bottomBox{top:740px; border-top:1px solid #333; z-index: 100;}
