/* basic.css */

#wrap {
    width: 960px;
    margin: 0 auto;
}
#wrap>#header {
    width: 100%;
}
#header>h1 {
    width: 100px;
    height: 100px;
    background-color: #aaa;
}
#header>h1>a {
    width: 90%;
    height: 90%;
    background-color: #aac;
}