//index_all.scss

#wrap {width: 100%; height: 970px;
  >*{width: 960px; margin: 0 auto;}
   >#headerWrap{width: 100%; height:60px;
     background-image:linear-gradient(90deg, $sub2 50%, $main 50%);}
   >#banner {height: 430px; background-color:$sub1; overflow: hidden;
    position: relative;}
   >#container {width:900px; min-height:320px; height:auto; 
    padding:20px 30px; background-color:$main;}
   >#footerWrap{width: 100%; height: 120px;
    background-color:$sub2;}
} //#wrap


/* 임시테스트 */
#banner ul>li{transition:all 2s ease;}
.banBtn_01:hover ~ ul>li:first-child{margin-left:calc(100% / 3);}
.banBtn_02:hover ~ ul>li:first-child{margin-left:calc(-100% / 3);}
#indi_01:checked ~ ol>li:nth-child(1)>label{background-color:$sub2;}
#indi_02:checked ~ ol>li:nth-child(2)>label{background-color:$sub2;}
#indi_03:checked ~ ol>li:nth-child(3)>label{background-color:$sub2;}
#indi_01:checked ~ ul>li:first-child{margin-left:calc(100% / 3);}
#indi_02:checked ~ ul>li:first-child{margin-left:0;}
#indi_03:checked ~ ul>li:first-child{margin-left:calc(-100% / 3);}

