@media screen and (min-width:641px) and (max-width:1024px){
  // #rwdHead ------------------------------------------------
    #rwdHead {width:87.5%; height: 120px; border-bottom:$line; 
      padding:0 6.25%; background-color:$white;}
    h1 {width: 155px; height: 32px; background-color:$sub2; float: left; margin-top: 66px;
      a {@include link;}
    }// h1
  
  
  // #rwdContent ------------------------------------------------
    #rwdContent {width:calc(100% - 40px); height:62.5vw; 
      padding:0 20px; background-color:$sub3;}
  // #rwdFoot ------------------------------------------------
    #rwdFoot {width:calc(100% - 40px); height: 30px; 
      padding:0 20px; background-color:$sub1;}
} // tablet.scss

