/* day_02_kwater_header.css */

#header{height: 74px; background-color: #f7f7f7; padding-top: 18px;}
	h1{width: 100px; height: 60px; background-color: #acc; float: left;}
/* -- #gnb ------------------------------------------------*/
#gnb{width: 232px; height: 18px; background-color: #fac; float:right;}
	#gnb>ul{width: 100%; height: 100%;}
	#gnb>ul>li{width: 25%; height: 100%; float: left;}
/*
	#gnb>ul>li:hover > ol{display: block;}
	#gnb ol{width: 300%; height: 100%; margin-top: -56px; 
		background-color: #aaa; overflow: hidden; display: none;}
	#gnb ol>li{width: 20%; float: left;}
*/

	#top_navi{width: 795px; height: 34px; background-color: #acc;float: right;}






